:root {
  --white: #f8f8f8;
}

html, body {
  font-family: 'Moon';
  margin: 0; padding: 0;
  box-sizing: border-box;
  background-color: #02203C;
  color: var(--white);
  overflow: hidden;
}

h2, h3, h4, h5, h6, p, ul {
  margin: 0; padding: 0;
}

h1 {
  font-size: 48pt;
  text-align: center;
  letter-spacing: 3px;
}

h3, p {
  font-weight: normal;
  font-size: 13pt;
  margin: .1rem 0;
}

section {
  max-width: 35%;
  display: inline-grid;
  grid-gap: 0.3rem;
  margin: 2rem 16rem 0 4rem;
}

ul {
  list-style-type: none;
}

ul li {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
}

.stars > div {
  position: absolute;
  width: 4px;
  height: 4px;
  filter: blur(1px);
  box-shadow: 0px 0px 11px 1px rgba(255,255,255,0.9);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
}

.stars div:nth-child(1) {
  left: 16rem;
  top: 4rem;
}

.stars div:nth-child(2) {
  left: 20rem;
  top: 5rem;
}

.stars div:nth-child(3) {
  left: 21rem;
  top: 4.5rem;
}

.moon {
  height: 100vh;
  width: 100vw;
  background: #0267A4;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}